<h1><%= t("title.sign_up") %></h1>

<%= javascript_include_tag "https://ajaxzip3.github.io/ajaxzip3.js" %>
<%= form_with(model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :icon %>
    <%= f.file_field :icon %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode, onKeyUp: "AjaxZip3.zip2addr(this,'','user[address]','user[address]');" %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :profile %>
    <%= f.text_area :profile %>
  </div>

  <div class="actions">
    <%= f.submit t("button.sign_up") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

