<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    <header>
      <nav class="top_nav">
        <ul class="top_nav_items">
          <li class="top_nav_item">
          <%if request.path_info.include?("books") %>
            <%= link_to t('button.users_list'), users_path %>
          <% else %>
            <%= link_to t('button.books_list'), books_path %>
          <% end %>
          </li>
          <li class="top_nav_item">
          <% if user_signed_in? || logged_in? %>
            <%= link_to t('button.log_out'), destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to t('button.sign_up'), new_user_registration_path %> /
            <%= link_to t('button.log_in'), new_user_session_path %>
          <% end %>
          </li>
          <li class="top_nav_item">
            <% if I18n.locale.to_s == "en" %>
              <%= link_to("日本語", locale: 'ja') %>
            <% else %>
              <%= link_to("English", locale: 'en') %>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>
    </div>
    <div class="content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
